<!DOCTYPE html>
<html lang="kr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--Set og -->
	<meta property="og:title" content="SUBLab" />
	<meta property="og:description" content="Find Best Subway combination!" />
	<meta property="og:image" content="https://www.subway.co.kr/images/menu/sandwich_fl02_01.jpg" />
	<!--import bootstrap-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<!-- import JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<!--import font-->
	<link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
	<title>SubLab | Sign Up</title>
	<style>
		* {
			font-family: 'Gowun Dodum', sans-serif;
		}

		.wrapper {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
		}

		.signup-form {
			min-width: 300px;
			width: 95%;
			box-shadow: 0px 0px 10px 0px lightblue;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
		}

		.signup-form>.col-md-10 {
			margin-top: 10px;
		}

		#submit-btn {
			margin: 10px;
		}
	</style>
	<script>
		function validID() {
			$('#ID').keyup(function () {
				const specialCharRegExp = /[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\/"]/g;
				const spaceRegExp = /\s/g;;
				let input = $('#ID').val();
				if (!specialCharRegExp.test(input) && !spaceRegExp.test(input) && input !== '') {
					$('#ID').removeClass('is-invalid');
					$('#check-id-btn').attr('disabled', false);
				}
				else {
					$('#ID').addClass('is-invalid');
					$('#check-id-btn').attr('disabled', true);
				}
			})
		}
		function validPW() {
			$('#PW').keyup(function () {
				let input = $('#PW').val();
				if (input.length >= 6) {
					$('#PW').removeClass('is-invalid');
				}
				else {
					$('#PW').addClass('is-invalid');
				}
			})
		}
		function validPWConfirm() {
			$('#PWconfirm').keyup(function () {
				let PWinput = $('#PW').val();
				let confirmInput = $('#PWconfirm').val();
				if (PWinput === confirmInput) {
					$('#PWconfirm').removeClass('is-invalid');
				}
				else {
					$('#PWconfirm').addClass('is-invalid');
				}
			})
		}
		function validForm() {
			$('#ID, #PW, #PWconfirm').keyup(function () {
				if (!$('#ID').val() || !$('#PW').val() || !$('#PWConfirm').val()) {
					$('#signup-btn').attr('disabled', true);
				}
				// TODO 중복 확인 속성 체크후 체크되지 않았으면 알랏
				let isValidID = !$('#ID').hasClass('is-invalid');
				let isValidPW = !$('#PW').hasClass('is-invalid');
				let isValidPWConfirm = !$('#PWConfirm').hasClass('is-invalid');
				if (isValidID && isValidPW && isValidPWConfirm) {
					$('#signup-btn').attr('disabled', false);
				}
			})
		}
		$(document).ready(function () {
			validID();
			validPW();
			validPWConfirm();
			validForm();
		})
		// TODO /api/checkid 연결
		function checkID() {
			let given_ID = $('#ID').val();
			console.log(`given_ID: ${given_ID}}`);
			$.ajax({
				type: "GET",
				url: '/api/checkid',
				data: { "id": given_ID },
				success: function ({ ok }) {
					// TODO 중복 확인 후 ok 값에 따라 클래스 속성 추가
					console.log(ok)
				}
			})
		}
		// TODO /api/signup 연결
		function signUp() {
			let given_ID = $('#ID').val();
			let given_PW = $('#PW').val();
			console.log(`given_ID: ${given_ID}, given_PW: ${given_PW}`);
			$.ajax({
				type: "POST",
				url: '/api/checkid',
				data: { "id": given_ID, "password": given_PW },
				success: function ({ message }) {
					alert(message);
				}
			})
		}
	</script>
</head>

<body>
	<div class="wrapper">
		<img class="slogan" width="400" src="../static//assets/slogan.png" alt="slogan image">
		<form class="signup-form" id="needs-validation" novalidate>
			<a class="nav-link active" aria-current="page" href="/login">로그인</a>
			<div class="col-md-10">
				<label for="ID" class="form-label">아이디</label>
				<div class="input-group mb-3">
					<input type="text" class="form-control" id="ID" required aria-describedby="button-addon1">
					<div class="valid-feedback">
						사용 가능한 아이디입니다.
					</div>
					<div class="invalid-feedback">
						아이디는 특수문자나 공백을 포함하지 않아야 합니다.
					</div>
					<button type="button" class="btn btn-outline-secondary" id="check-id-btn" disabled="true"
						onclick="checkID()">중복 확인</button>
				</div>
			</div>
			<div class="col-md-10">
				<label for="PW" class="form-label">비밀번호</label>
				<input type="password" class="form-control" id="PW" required>
				<div class="invalid-feedback">
					비밀번호는 여섯 자리 이상이어야 합니다.
				</div>
			</div>
			<div class="col-md-10">
				<label for="PWconfirm" class="form-label">비밀번호 재설정</label>
				<div class="input-group has-validation">
					<input type="password" class="form-control" id="PWconfirm" aria-describedby="inputGroupPrepend" required>
					<div class="invalid-feedback">
						비밀번호가 일치하지 않습니다.
					</div>
				</div>
			</div>
			<button type="button" class="btn btn-primary" id="signup-btn" disabled="true" onclick="signUp()">회원 가입</button>
		</form>
	</div>
</body>

</html>